#root {
  width: 100%;
}
.container {
  display: grid;
  width: inherit;
  height: 100vh;
  background-image: url(/fosa.jpg);
  background-repeat: round;
}
.left-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 22vw;
  min-width: 300px;
}
.home-title {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  color: darkblue;
  text-align: center;
  width: 40vw;
  word-wrap: normal;
  font-size: large;
}
.logos {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 15vh;
  display: flex;
  flex-direction: row;
}