#root {
  width: 100%;
}
.container {
  display: grid;
  width: inherit;
  height: 100vh;
  background-image: url(/fosa.jpg);
  background-repeat: round;
}
.left-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 22vw;
  min-width: 300px;
}