.menu-toggle {
  margin: 10px 0 0 10px;
}
.sidebar {
  display: grid;
}
.sidebar-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  padding-inline-start: 0;
  padding-inline-end: 3px;
  list-style-type: none;
}
.sidebar-list-item {
  background-color: bisque;
  border-style: solid;
  border-width: 1px;
  border-color:gray;
}